:root {
  --background-color: #20282f;
  --secondary-background: #273239;

  --primary-color: #292c35;
  --accent-color: #c4fd46;
  --text-color: #8fab6e;
  --text-color-light: #a8b8ba;
  --console: #002b36;
  --playground: #292c35;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.Code .container {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.Code .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.Code .nav i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
}

.Code .left-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
}

.Code .nav input {
  background-color: var(--secondary-background);
  border: none;
  outline: none;
  color: var(--text-color-light);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  width: 400px;
  border-radius: 5px;
}

.Code .profile {
  background: url("https://i.pravatar.cc/300") no-repeat center center/cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.Code .profile:hover {
  opacity: 0.8;
}

.Code .main {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}

.Code .main .left {
  height: 85vh;
  width: 50%;
  border-radius: 10px;
  background-color: var(--playground);
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

#editor {
  height: 83vh;
  width: 100%;
  border-radius: 10px;
}

.Code .main .right {
  height: 85vh;
  width: 50%;
}

.Code #accordion {
  height: 85vh;
  width: 100%;
}

.Code .prob {
  background-color: var(--secondary-background);
  height: 81%;
  overflow-y: auto;
  margin-bottom: 2%;
}

.Code .output {
  background-color: var(--console);
  height: 81%;
  overflow-y: auto;
}

.Code .buttons {
  justify-self: flex-end;
  justify-items: flex-end;
  margin-left: auto;
}

.Code .buttons button {
  background-color: var(--secondary-background);
  border: none;
  outline: none;
  color: var(--text-color-light);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button-wrapper {
  background-color: var(--primary-color);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  height: 8vh;
}

.Code #accordion p {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-light);
  background-color: var(--primary-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  align-self: center;
}

.Code #accordion p:nth-child(3) {
  margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 960px) {
  .Code .nav {
    padding: 30px 20px;
  }

  .Code .nav input {
    width: 300px;
  }

  .Code .main {
    padding: 0 20px;
  }

  .Code .main {
    flex-direction: column;
  }

  .Code .main .left {
    width: 100%;
  }

  .Code #editor {
    width: 100%;
  }

  .Code .main .right {
    width: 100%;
    margin-top: 20px;
  }

  .Code #accordion {
    width: 100%;
    height: 56vh;
  }

  .Code .prob {
    height: 50%;
  }

  .Code .output {
    height: 50%;
  }

  .Code .button-wrapper {
    height: 10vh;
  }
}
